.item{
    text-decoration: none;
    color: black;
    position: relative;
    display: block;
}



.parentItemText {
    margin: 0;
    padding: 0;
    color: #7c7c7c;
}

.parentItemText::after {
    content: url('/public/assets/icons/ctrl.svg');
    transform: rotate(90deg);
    right: 0;
    color: #7c7c7c;
    position: absolute;
}

.lastChilItemText {
    margin: 0;
    padding: 0;
    color: #7c7c7c;
}

.linkButton{
    background: none!important;
    border: none;
    padding: 0!important;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu p {
    display: inline;
}

#basketbtn{
    margin-right: 5px;
}

#basketIcon{
    margin-right: 5px;
}