
.margin-right {
    margin-right: 20px;
}

.topBarItem {
    text-decoration: none;
    color: black;
    font-size: 50 px;
}

.marginright7{
    margin-right: 7px;
}

.centerTextalign{
    text-align: center;
}