
.bottom-nav{
    z-index: 200 !important;
}

.right-border{
    border-right: 1px solid #B2BEB5;
  }
  
  .bottom-border{
    border-bottom : 1px solid #B2BEB5;
  }
  
  p {
    margin: 0;
    padding: 0;
  }

  #logo{
    width: 8rem;
    max-height: 8 rem;
  }

  .inlineDisplay{
    display: inline;
  }

  .rightTextAlign{
    text-align: right;
  }

  /* Mega Mrnu Show By Click */

.dropdown{
  position: relative;
}

   /* Mega Mrnu Show By Click */

